.total-container {
  background-color: rgb(233 236 241);

  width: 18%;
  height: 387px;
  margin: auto;
  box-shadow: 0px 4px 5px 6px #615c5c29;
  margin-top: 201px;
  padding-top: 7px;
}

.header p {
  margin-bottom: 40px;
  margin-top: -19px;
}
.email-container {
  padding-top: 5px;
  background-color: #fff;
  width: 85%;
  height: 128px;
  margin-left: 24px;
}
.email-container p {
  margin-bottom: 4px;
  margin-left: -218px;
}

.email-field {
  width: 85%;
  height: 32px;
  font-size: 18px;
  border: 1px solid #060606;
}
.email-container button {
  background-color: #0a66c2;
  color: #fff;
  margin-top: 15px;
  border-radius: 1px;
  height: 24px;
}
.otp-container{
  background-color: rgb(233 236 241);

  width: 15%;
  height: 245px;
  margin: auto;
  box-shadow: 0px 4px 5px 6px #615c5c29;
  margin-top: 201px;
  padding-top: 7px;

}
.otp-field{
  width: 79%;
  height: 27px;
  font-size: 18px;
  border: 1px solid #060606;
  margin-top: 38px;

}
.otp-container button{
  background-color: #0a66c2;
  color: #fff;
  margin-top: 25px;
  border-radius: 1px;
  height: 24px;
}
.otp-container h4 {
  margin-bottom: 6px;
  font-size: 24px;
}

